.article-eletivas {
  padding-top: 40px;
  padding-bottom: 80px;
}

.article-eletivas h1 {
  margin-bottom: 32px;
}

.article-eletivas p {
  margin-bottom: 32px;
}

.lista-eletivas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.container-lista-eletivas {
  display: flex;
  justify-content: center;
}
.lista-eletivas li {
  color: #e54;
  border: solid 4px #999;
  text-align: center;
  justify-items: center;
  border-radius: 8px;
  padding: 24px 8px;
  background-color: rgba(0, 0, 0, 0.05);
}

.lista-eletivas li:hover {
  background-color: rgba(0, 0, 0, 0);
}

.lista-eletivas h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
}

/* RESPONSIVO */
@media (max-width: 900px) {
}

@media (max-width: 800px) {
  .lista-eletivas {
    grid-template-columns: 1fr 1fr;
  }
  .lista-eletivas h2 {
    font-size: 1.225rem;
  }
}

@media (max-width: 600px) {
  .lista-eletivas h2 {
    font-size: 1rem;
  }
}
